#formulario-contacto {
    display: flex;
    flex-wrap: nowrap;
    max-width: 400px;
    flex-direction: column;
    color: white;
}

.fieldset-contacto {
    display: inherit;
    flex-direction: column;
    color: white;
}



label, textarea, input {

    margin: 5px;
    padding: 5px;
    color: #f1f1f1;
    font-size: 14px;
}

label {
    font-size: 20px;
}

#submit {
    background-color: #f1f1f1;;
    color: rgb(160, 29, 29);
    font-weight: bold;
    cursor: pointer;
}