* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    background-color: #181818;
}

header {
    height: auto;
    min-height: 130px;
    padding-top: 20px;
    font-size: 45px;
    color: rgb(231, 222, 222);
}

.header {
    color: #f1f1f1;
    text-align: center;
    padding-bottom: 20px;
}

.button-nav {
    background-color: #f1f1f1;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.button-nav :link {
    background-color: #f1f1f1;
    text-decoration: none;
}

.button-nav :visited {
    text-decoration: none;
    background-color: #f1f1f1;
}

.button-nav:hover {
    text-decoration: none;
    color: rgb(160, 29, 29);
}

.button-nav :visited:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: rgb(160, 29, 29);
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#timer, #time {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #f1f1f1
}

#time {
    color: rgb(21, 211, 21);
}

main {
    display: flex;
    justify-content: center;
}

.fieldset-wordle  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.input-wordle {
    background-color: #f1f1f1;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #353434;
    text-transform: uppercase;
    caret-color: transparent;
}

.input-wordle:focus{
    outline: none;
    border: 2px solid rgb(160, 29, 29);
    box-shadow: 0px 0px 0px;

}

input:disabled {
    background:#f1f1f1;
    border: 2px solid rgba(255, 255, 255, 0.900);
  }

.verde {
    background-color: rgb(21, 211, 21);
}

.amarillo {
    background-color: rgb(226, 226, 85);
}

.gris {
    background-color: rgb(173, 171, 171);
}

