* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    background-color: #181818;
}

header {
    height: auto;
    min-height: 130px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(231, 222, 222);
}

.header {
    color: #f1f1f1;
    text-align: center;
    padding-bottom: 10px;
}

.button-nav {
    background-color: #f1f1f1;
    min-width: 105px;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.button-nav :link {
    background-color: #f1f1f1;
    text-decoration: none;
}

.button-nav :visited {
    text-decoration: none;
    background-color: #f1f1f1;
}

.button-nav:hover {
    text-decoration: none;
    color: rgb(226, 38, 38);
}

.button-nav :visited:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: rgb(226, 38, 38);
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#timer, #time, #mensaje-resultado{
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 15px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #f1f1f1
}

#mensaje-error {
    visibility: hidden;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    color: #f1f1f1
}

#time {
    color: rgb(21, 211, 21);
}

main {
    display: flex;
    justify-content: center;
}

.fieldset-wordle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.input-wordle {
    background-color: #f1f1f1;
    width: 50px;
    margin: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    box-shadow: 1x 2px 10px #353434;
    caret-color: transparent;
}

.input-wordle:focus {
    outline: none;
    border: 2px solid rgb(226, 38, 38);
    box-shadow: 0px 0px 0px;

}

input:disabled {
    border: 2px solid rgba(255, 255, 255, 0.900);
  }

#guardar-partida {
    display:none;
}

#volver-a-jugar-partida {
    display: none;
}

#nombre-jugador {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}

#nombre-jugador-label {
    color: #f1f1f1;
    padding-bottom: 5px;
}

#nombre-jugador-input {
   background-color:  #353434;
   color: #f1f1f1;
   margin-bottom: 5px;
}

#errorNombre {
    color: rgb(226, 38, 38);
    font-size: 17px;

}

.verde {
    background-color: rgb(21, 211, 21);
}

.amarillo {
    background-color: rgb(226, 226, 85);
}

.gris {
    background-color: rgb(173, 171, 171);
}

